<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Cars Selling</title>

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="listCarsSelling.js"></script>
<script src="delete.js"></script>
<link rel="stylesheet" href="table.css">
</head>
<body>
	<h2>Cars Selling List</h2>
	<p>
		<a href="/insert">Insert new position</a>
	</p>

	<table border="1" cellspacing="0" cellpadding="5">
		<tr>
			<th>code</th>
			<th>manufacturer</th>
			<th>model</th>
			<th>color</th>
			<th>transmission</th>
			<th>body_type</th>
			<th>price</th>
			<th>action</th>
		</tr>
	</table>
</body>
</html>